@model Library.DataAccess.Domain.Books

@{
    ViewData["Title"] = "Edit";

    List<Library.DataAccess.Domain.Categories> categories = ViewBag.Categories as List<Library.DataAccess.Domain.Categories>;
    List<Library.DataAccess.Domain.AcquisitionTypes> acquisitionTypes = ViewBag.AcquisitionTypes as List<Library.DataAccess.Domain.AcquisitionTypes>;
    List<Library.DataAccess.Domain.Editorials> editorials = ViewBag.Editorials as List<Library.DataAccess.Domain.Editorials>;
    List<Library.DataAccess.Domain.Authors> authors = ViewBag.Authors as List<Library.DataAccess.Domain.Authors>;
    List<Library.DataAccess.Domain.Editions> editions = ViewBag.Editions as List<Library.DataAccess.Domain.Editions>;
    List<Library.DataAccess.Domain.Countries> countries = ViewBag.Countries as List<Library.DataAccess.Domain.Countries>;
    List<Library.DataAccess.Domain.Catalogs> catalogs = ViewBag.Catalogs as List<Library.DataAccess.Domain.Catalogs>;
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title text-center" style="font-family: 'Poppins', sans-serif; font-weight: 600;">Editar Libro</h4>
                <form asp-action="Edit" method="post" enctype="multipart/form-data" class="forms-sample">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="BOOK_ID" type="hidden" />

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label asp-for="ID_CATEGORY" class="form-label">Categoría</label>
                            <select asp-for="ID_CATEGORY" class="form-select">
                                <option value="0">Seleccionar</option>
                                @foreach (var item in categories)
                                {
                                    <option value="@item.CATEGORY_ID" selected="@(Model.ID_CATEGORY == item.CATEGORY_ID)">
                                        @item.CATEGORY_NAME
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="ID_CATEGORY" class="text-danger"></span>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label asp-for="ID_ACQUISITION" class="form-label">Tipo de Adquisición</label>
                            <select asp-for="ID_ACQUISITION" class="form-select">
                                <option value="0">Seleccionar</option>
                                @foreach (var item in acquisitionTypes)
                                {
                                    <option value="@item.ACQUISITION_ID" selected="@(Model.ID_ACQUISITION == item.ACQUISITION_ID)">
                                        @item.ACQUISITION_TYPE
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="ID_ACQUISITION" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label asp-for="ID_EDITORIAL" class="form-label">Editorial</label>
                            <input asp-for="ID_EDITORIAL" type="hidden" id="txtIdEditorial" />
                            <div class="input-group">
                                <input type="text" value="@ViewBag.EditorialName" class="form-control" id="txtNombreEditorial" readonly>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalEditorial">
                                    <i class="bi bi-search"></i> Buscar
                                </button>
                            </div>
                            <span asp-validation-for="ID_EDITORIAL" class="text-danger"></span>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label asp-for="ID_AUTHOR" class="form-label">Autor</label>
                            <input asp-for="ID_AUTHOR" type="hidden" id="txtIdAuthor" />
                            <div class="input-group">
                                <input type="text" value="@ViewBag.AutorName" class="form-control" id="txtNombreAutor" readonly>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalAutor">
                                    <i class="bi bi-search"></i> Buscar
                                </button>
                            </div>
                            <span asp-validation-for="ID_AUTHOR" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label asp-for="ID_EDITION" class="form-label">Edición</label>
                            <input asp-for="ID_EDITION" type="hidden" id="txtEdicionID" />
                            <div class="input-group">
                                <input type="text" value="@ViewBag.EdicionName" class="form-control" id="txtEdicionName" readonly>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalEdicion">
                                    <i class="bi bi-search"></i> Buscar
                                </button>
                            </div>
                            <span asp-validation-for="ID_EDITION" class="text-danger"></span>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label asp-for="ID_COUNTRY" class="form-label">País</label>
                            <input asp-for="ID_COUNTRY" type="hidden" id="txtIdPais" />
                            <div class="input-group">
                                <input type="text" value="@ViewBag.PaisName" class="form-control" id="txtNombrePais" readonly>
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#ModalPais">
                                    <i class="bi bi-search"></i> Buscar
                                </button>
                            </div>
                            <span asp-validation-for="ID_COUNTRY" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label asp-for="ID_CATALOG" class="form-label">Catálogo</label>
                            <select asp-for="ID_CATALOG" class="form-select">
                                <option value="0">Seleccionar</option>
                                @foreach (var item in catalogs)
                                {
                                    <option value="@item.CATALOG_ID" selected="@(Model.ID_CATALOG == item.CATALOG_ID)">
                                        @item.CATALOG_NAME
                                    </option>
                                }
                            </select>
                            <span asp-validation-for="ID_CATALOG" class="text-danger"></span>
                        </div>

                        <div class="mb-3 col-md-6">
                            <label asp-for="DEWEY" class="form-label">DEWEY</label>
                            <input asp-for="DEWEY" class="form-control" />
                            <span asp-validation-for="DEWEY" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label asp-for="CUTER" class="form-label">CUTER</label>
                            <input asp-for="CUTER" class="form-control" />
                            <span asp-validation-for="CUTER" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label asp-for="TITLE" class="form-label">Título</label>
                            <input asp-for="TITLE" class="form-control" />
                            <span asp-validation-for="TITLE" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label asp-for="YEAR" class="form-label">Año</label>
                            <input asp-for="YEAR" class="form-control" />
                            <span asp-validation-for="YEAR" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-md-6">
                            <label asp-for="EJEMPLARS" class="form-label">Ejemplares</label>
                            <input asp-for="EJEMPLARS" class="form-control" />
                            <span asp-validation-for="EJEMPLARS" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label asp-for="EXISTENCES" class="form-label">Existencias</label>
                            <input asp-for="EXISTENCES" class="form-control" />
                            <span asp-validation-for="EXISTENCES" class="text-danger"></span>
                        </div>
                        <div class="mb-3 col-md-6">
                            <input type="hidden" id="imageDeleted" name="imageDeleted" value="false" />
                            <label asp-for="CoverImagePath" class="form-label">Portada</label>
                            <input name="newcoverImage" type="file" class="form-control" id="coverImageInput" accept="image/*" />
                            <div class="mt-3 image-container" style="position: relative; display: inline-block;">
                                @if (!string.IsNullOrEmpty(Model.CoverImagePath) && Model.CoverImagePath != "SinPortada")
                                {
                                    <img id="previewImage"
                                         src="@Model.CoverImagePath"
                                         alt="Portada actual"
                                         style="max-width:100%; max-height:250px; border-radius:10px; padding:0; transition: opacity 0.5s ease-out;" />
                                }
                                else
                                {
                                    <img id="previewImage" src="#" alt="Vista previa de portada"
                                         style="display:none; max-width:100%; max-height:250px; border-radius:10px; padding:0; transition: opacity 0.5s ease-out;" />
                                }
                                <span id="cancelImage"
                                      style="position: absolute; top: 5px; right: 5px; background: rgba(255, 255, 255, 0.8); border-radius: 50%; width: 25px; height: 25px; display: none; justify-content: center; align-items: center; cursor: pointer; font-weight: bold; color: #dc3545; border: 1px solid #dc3545;">
                                    &times;
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center mt-4">
                        <button type="submit" class="btn btn-success me-2">
                            <i class="bi bi-floppy"></i> Guardar
                        </button>
                        <a asp-action="Index" class="btn btn-secondary">
                            <i class="bi bi-reply-fill"></i> Regresar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal Buscar Editorial -->
<div class="modal fade" id="ModalEditorial" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ModalEditorialLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content shadow">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title fw-bold" id="ModalEditorialLabel">
                    <i class="bi bi-journal-bookmark-fill me-2"></i> Editoriales
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario de búsqueda -->
                <form id="frmBuscarEditoriales" class="card shadow-sm mb-4 border">
                    <div class="card-header text-center fw-bold bg-light border-bottom">
                        Listado de Editoriales
                    </div>
                    <div class="card-body">
                        <div class="row align-items-end">
                            <div class="col-md-6">
                                <label for="txtNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="txtNombre" name="EDITORIAL_NAME" placeholder="Buscar por nombre...">
                            </div>
                            <div class="col-md-6 text-end">
                                <button type="button" id="btnBuscarEditoriales" class="btn btn-primary btn-icon-text mt-3">
                                    <i class="bi bi-search me-1"></i> Buscar Todos o en Específico
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Tabla de resultados -->
                <table class="table table-hover table-bordered align-middle text-center" id="tbDatosEditorial">
                    <thead class="table-light">
                        <tr>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Resultados dinámicos aquí -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-lg me-1"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Buscar Autores-->
<div class="modal fade" id="ModalAutor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ModalAutorLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content shadow">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title fw-bold" id="ModalAutorLabel">
                    <i class="bi bi-person-lines-fill me-2"></i>Autores
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form id="frmBuscarAutores" class="card shadow-sm mb-4 border">
                    <div class="card-header text-center fw-bold bg-light border-bottom">
                        Listado de Autores
                    </div>
                    <div class="card-body">
                        <div class="row align-items-end">
                            <div class="col-md-6">
                                <label for="txtNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="txtNombre" name="AUTHOR_NAME">
                            </div>
                            <div class="col-md-6 text-end">
                                <button type="button" id="btnBuscarAutores" class="btn btn-primary btn-icon-text mt-3">
                                    <i class="bi bi-search me-1"></i> Buscar Todos o en Especifico
                                </button>
                            </div>
                        </div>
                    </div>
                </form>

                <table class="table table-hover table-bordered align-middle text-center" id="tbDatosAutores">
                    <thead class="table-light">
                        <tr>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-lg me-1"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Buscar Edición -->
<div class="modal fade" id="ModalEdicion" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ModalEdicionLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content shadow">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title fw-bold" id="ModalEdicionLabel">
                    <i class="bi bi-collection me-2"></i> Ediciones
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmBuscarEdiciones" class="card shadow-sm mb-4 border">
                    <div class="card-header text-center fw-bold bg-light border-bottom">
                        Listado de Ediciones
                    </div>
                    <div class="card-body">
                        <div class="row align-items-end">
                            <div class="col-md-6">
                                <label for="txtNombreEdicion" class="form-label">Número de Edición</label>
                                <input type="text" class="form-control" id="txtNombreEdicion" name="EDITION_NUMBER">
                            </div>
                            <div class="col-md-6 text-end">
                                <button type="button" id="btnBuscarEdicion" class="btn btn-primary btn-icon-text mt-3">
                                    <i class="bi bi-search me-1"></i> Buscar Todos o en Específico
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-hover table-bordered align-middle text-center" id="tbDatosEdiciones">
                    <thead class="table-light">
                        <tr>
                            <th>Número</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-lg me-1"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Buscar Ciudad -->
<div class="modal fade" id="ModalPais" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ModalPaisLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content shadow">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title fw-bold" id="ModalPaisLabel">
                    <i class="bi bi-geo-alt-fill me-2"></i> Ciudades
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmBuscarPais" class="card shadow-sm mb-4 border">
                    <div class="card-header text-center fw-bold bg-light border-bottom">
                        Listado de Ciudades
                    </div>
                    <div class="card-body">
                        <div class="row align-items-end">
                            <div class="col-md-6">
                                <label for="txtNombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="txtNombre" name="COUNTRY_NAME">
                            </div>
                            <div class="col-md-6 text-end">
                                <button type="button" id="btnBuscarCiudades" class="btn btn-primary btn-icon-text mt-3">
                                    <i class="bi bi-search me-1"></i> Buscar Todos o en Específico
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <table class="table table-hover table-bordered align-middle text-center" id="tbDatosCiudades">
                    <thead class="table-light">
                        <tr>
                            <th>Nombre</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-lg me-1"></i> Cancelar
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts {

<script>
        $(document).ready(function () {

             // AUTORES
             // Limpiar tabla al abrir modal
             $('#ModalAutor').on('show.bs.modal', function () {
                 $("#tbDatosAutores > tbody").empty();
             });

             $("#btnBuscarAutores").click(function () {
                 fnBuscarAutores();
             });

             function fnBuscarAutores() {
                 $.ajax({
                     method: 'POST',
                     url: '@Url.Action("BuscarAutor", "Books")',
                     data: $("#frmBuscarAutores").serialize(),
                     dataType: 'json',
                     success: function (lista) {
                         var tbody = $("#tbDatosAutores > tbody");
                         tbody.empty();

                         if (lista.length === 0) {
                             tbody.append("<tr><td colspan='2'>No se encontraron autores</td></tr>");
                             return;
                         }

                         for (var i = 0; i < lista.length; i++) {
                             var fila = `<tr>
                                 <td>${lista[i].AUTHOR_NAME ?? ""}</td>
                                 <td>
                                     <button type='button' class='btn btn-info'
                                         onclick="setAuthor(${lista[i].AUTHOR_ID}, '${lista[i].AUTHOR_NAME}')">
                                         Seleccionar
                                     </button>
                                 </td>
                             </tr>`;
                             tbody.append(fila);
                         }
                     },
                     error: function (error) {
                         alert("Error: " + error.statusText);
                     }
                 });
             }

             function setAuthor(id, nombre) {
                 $("#txtIdAuthor").val(id);
                 $("#txtNombreAutor").val(nombre);
                 $("#ModalAutor").modal('hide');
             }

         // EDITORIALES: Limpiar tabla al abrir modal
         $('#ModalEditorial').on('show.bs.modal', function () {
             $("#tbDatosEditorial > tbody").empty();
         });

         $("#btnBuscarEditoriales").click(function () {
             fnBuscarEditoriales();
         });

             function fnBuscarEditoriales() {
             $.ajax({
                 method: 'POST',
                 url: '@Url.Action("BuscarEditorial", "Books")',
                 data: $("#frmBuscarEditoriales").serialize(),
                 dataType: 'json',
                 success: function (lista) {
                     var tbody = $("#tbDatosEditorial > tbody");
                     tbody.empty();
                     if (lista.length === 0) {
                         tbody.append("<tr><td colspan='2'>No se encontraron editoriales</td></tr>");
                         return;
                     }
                     for (var i = 0; i < lista.length; i++) {
                         var nombre = lista[i].editoriaL_NAME ? lista[i].editoriaL_NAME.replace(/'/g, "\\'") : "";
                         var id = lista[i].editoriaL_ID ? lista[i].editoriaL_ID : 0;
                         var fila = `<tr>
                             <td>${nombre}</td>
                             <td>
                                 <button type='button' class='btn btn-success btn-sm'
                                     onclick="window.setEditorial(${id}, '${nombre.replace(/'/g, "\\'")}')">
                                     Seleccionar
                                 </button>
                             </td>
                         </tr>`;
                         tbody.append(fila);
                     }
                 },
                 error: function (error) {
                     alert("Error: " + error.statusText);
                 }
             });
         }

                 window.setEditorial = function(id, nombre) {
             console.log("ID:", id, "Nombre:", nombre);
             $("#txtIdEditorial").val(id);
             $("#txtNombreEditorial").val(nombre);
             $("#ModalEditorial").modal('hide');
         };

         // EDICIONES: Limpiar tabla al abrir modal
         $('#ModalEdicion').on('show.bs.modal', function () {
             $("#tbDatosEdiciones > tbody").empty();
             $("#txtNombreEdicion").val(""); // Limpiar el campo de búsqueda
         });

         $("#btnBuscarEdicion").click(function () {
             fnBuscarEdicion();
         });

             function fnBuscarEdicion() {
             $.ajax({
                 method: 'POST',
                 url: '@Url.Action("BuscarEdicion", "Books")',
                 data: $("#frmBuscarEdiciones").serialize(),
                 dataType: 'json',
                 success: function (lista) {
                     var tbody = $("#tbDatosEdiciones > tbody");
                     tbody.empty();
                     if (lista.length === 0) {
                         tbody.append("<tr><td colspan='2'>No se encontraron ediciones</td></tr>");
                         return;
                     }
                     for (var i = 0; i < lista.length; i++) {
                         // Usa los nombres exactos del JSON: editioN_ID y editioN_NUMBER
                         var number = lista[i].editioN_NUMBER ? lista[i].editioN_NUMBER : "";
                         var id = lista[i].editioN_ID ? lista[i].editioN_ID : 0;
                         var fila = `<tr>
                             <td>${number}</td>
                             <td>
                                 <button type='button' class='btn btn-success btn-sm'
                                     onclick="window.setEdition(${id}, '${number}')">
                                     Seleccionar
                                 </button>
                             </td>
                         </tr>`;
                         tbody.append(fila);
                     }
                 },
                 error: function (error) {
                     alert("Error: " + error.statusText);
                 }
             });
         }


                window.setEdition = function(id, number) {
             $("#txtEdicionID").val(id);
             $("#txtEdicionName").val(number);
             $("#ModalEdicion").modal('hide');
         };



         // PAISES (CIUDADES): Limpiar tabla al abrir modal
         $('#ModalPais').on('show.bs.modal', function () {
             $("#tbDatosCiudades > tbody").empty();
             $("#txtNombre").val(""); // Limpiar el campo de búsqueda
         });

         $("#btnBuscarCiudades").click(function () {
             fnBuscarCiudades();
         });

         function fnBuscarCiudades() {
             $.ajax({
                 method: 'POST',
                 url: '@Url.Action("BuscarCiudad", "Books")',
                 data: $("#frmBuscarPais").serialize(),
                 dataType: 'json',
                 success: function (lista) {
                     var tbody = $("#tbDatosCiudades > tbody");
                     tbody.empty();
                     if (lista.length === 0) {
                         tbody.append("<tr><td colspan='2'>No se encontraron países/ciudades</td></tr>");
                         return;
                     }
                     for (var i = 0; i < lista.length; i++) {
                         // Usa los nombres exactos del JSON: countrY_ID y countrY_NAME
                         var nombre = lista[i].countrY_NAME ? lista[i].countrY_NAME : "";
                         var id = lista[i].countrY_ID ? lista[i].countrY_ID : 0;
                         var fila = `<tr>
                             <td>${nombre}</td>
                             <td>
                                 <button type='button' class='btn btn-success btn-sm'
                                     onclick="window.setPais(${id}, '${nombre.replace(/'/g, "\\'")}')">
                                     Seleccionar
                                 </button>
                             </td>
                         </tr>`;
                         tbody.append(fila);
                     }
                 },
                 error: function (error) {
                     alert("Error: " + error.statusText);
                 }
             });
         }

         window.setPais = function(id, nombre) {
             $("#txtIdPais").val(id);
             $("#txtNombrePais").val(nombre);
             $("#ModalPais").modal('hide');
         };


             // OPCIONAL: Al cargar la página, que haga las búsquedas iniciales
             fnBuscarAutores();
             fnBuscarEditoriales();
             fnBuscarEdicion();
             fnBuscarCiudades();

             // Ajuste del diseño
             document.querySelector('.main-content').classList.remove('with-menu');
             document.querySelector('.main-content').classList.add('full-width');

         });
</script>
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
   }
}
<script>
    const input = document.getElementById("coverImageInput");
    const preview = document.getElementById("previewImage");
    const cancelButton = document.getElementById("cancelImage");
    const container = document.querySelector('.image-container');

    // Si hay una imagen cargada desde el servidor, muestra el botón de cancelación al pasar el cursor
    if (preview.src && preview.src !== "#") {
        preview.style.display = "block";
    }

        input.addEventListener("change", function(event) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = "block";
                preview.style.opacity = "1";
                document.getElementById("imageDeleted").value = "false"; // Reiniciar a "false"
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            preview.src = "#";
            preview.style.display = "none";
            cancelButton.style.display = "none";
        }
    });


    // Mostrar la X al pasar el cursor sobre el contenedor
    container.addEventListener("mouseenter", function() {
        if (preview.src && preview.src !== "#" && preview.style.display !== "none") {
            cancelButton.style.display = "flex";
        }
    });

    // Ocultar la X al salir del contenedor
    container.addEventListener("mouseleave", function() {
        cancelButton.style.display = "none";
    });

    // Cancelar la imagen con animación
        cancelButton.addEventListener("click", function(e) {
        e.stopPropagation();
        preview.style.opacity = "0";
        setTimeout(function() {
            input.value = "";
            preview.src = "#";
            preview.style.display = "none";
            cancelButton.style.display = "none";
            preview.style.opacity = "1";
            document.getElementById("imageDeleted").value = "true"; // Indica que la imagen fue eliminada
        }, 500);
    });

</script>