@model Library.DataAccess.Domain.Loans

@{
    ViewData["Title"] = "Edit";
    List<Library.DataAccess.Domain.LoanTypes> loanTypes = ViewBag.LoanTypes as List<Library.DataAccess.Domain.LoanTypes>;
    List<Library.DataAccess.Domain.ReservationStatus> reservationStatus = ViewBag.ReservationStatus as List<Library.DataAccess.Domain.ReservationStatus>;
    List<Library.DataAccess.Domain.LoanDates2> loanDate = ViewBag.LoanDates as List<Library.DataAccess.Domain.LoanDates2>;
}
<div class="card">
    <div class="card-body">
<div class="container">
    <h1 class="text-center">EDITAR PRESTAMO</h1>
    <hr />
    <div class="d-flex justify-content-center form-group">
        <div class="col-7 margenEdit ">
            @if (TempData["AlertaEliminar"] != null)
            {
                <div class="alert alert-success anchoalert">
                    @TempData["AlertaEliminar"]
                </div>
            }
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="LOAN_ID" class="form-control" hidden />
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="ID_TYPE" class="control-label"></label>
                            <select asp-for="ID_TYPE" class="form-control">
                                @foreach (var item in loanTypes)
                                {
                                    if (Model.ID_TYPE == item.TYPES_ID)
                                    {
                                        <option selected value="@item.TYPES_ID">@item.TYPES_NAME</option>
                                    }
                                    else
                                    {
                                        <option value="@item.TYPES_ID">@item.TYPES_NAME</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="ID_TYPE" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ID_RESERVATION" class="control-label"></label>
                            <select asp-for="ID_RESERVATION" class="form-control">
                                @foreach (var item in reservationStatus)
                                {
                                    if (Model.ID_RESERVATION == item.RESERVATION_ID)
                                    {
                                        <option selected value="@item.RESERVATION_ID">@item.STATUS_NAME</option>
                                    }
                                    else
                                    {
                                        <option value="@item.RESERVATION_ID">@item.STATUS_NAME</option>
                                    }
                                }
                            </select>
                            <span asp-validation-for="ID_RESERVATION" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FEE" class="control-label">Tarifa</label>
                            <input asp-for="FEE" class="form-control" />
                            <span asp-validation-for="FEE" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LENDER_CONTACT" class="control-label">Contacto</label>
                            <input asp-for="LENDER_CONTACT" class="form-control" />
                            <span asp-validation-for="LENDER_CONTACT" class="text-danger"></span>
                        </div>
                        <br />
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="control-label">Libro</label>
                            <input type="text" class="form-control" id="tituloB" name="titulo" disabled="disabled" value="@ViewBag.TituloB" />
                            <input asp-for="ID_BOOK" class="form-control" hidden />
                            <span asp-validation-for="ID_BOOK" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="COPY" class="control-label">Copias</label>
                            <input asp-for="COPY" class="form-control" disabled="disabled" />
                            <input asp-for="COPY" class="form-control" hidden />
                            <span asp-validation-for="COPY" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ID_LENDER" class="control-label"></label>
                            <input asp-for="ID_LENDER" class="form-control" disabled="disabled" />
                            <span asp-validation-for="ID_LENDER" class="text-danger"></span>
                        </div>
                        <br />
                    </div>
                    <div class="col-12">
                        <div class="accordion margenAcordeon" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header text-center">
                                    <button class="accordion-button centrarTextoAcordion" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        ASIGNAR FECHA A PRESTAMO
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <label>FECHA DE INICIO</label>
                                                <input type="date" class="form-control" id="IdfechaInicio" name="fechaInicio" />
                                            </div>
                                            <div class=" col-6">
                                                <label>FECHA DE CIERRE</label>
                                                <input type="date" class=" form-control" id="IdfechaCierre" name="fechaCierre" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-6">
                        <input type="submit" value="Guardar" class="btn btn-primary" /> |
                        <a asp-action="Index" class="btn btn-secondary" id="confirmar">Regresar</a>
                    </div>
                    <div class="form-group col-6">
                        <div class="row">
                            <div class="col-5">
                                <label class="Horz">Eliminar Prestamo:</label>
                            </div>
                            <div class="col-6">
                                <select asp-for="STATUS" class="form-control col-6">
                                    <option value="@true">Activo</option>
                                    <option value="@false">Eliminar</option>
                                </select>
                                <span asp-validation-for="STATUS" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </form>
        </div>
        <div class="col-5">
            <img src="@ViewBag.Portada" class="anchodeImagen2" />
        </div>
    </div>
    <div class="form-group margenfechas">
        <table class="table" disabled="disabled">
            <thead>
                <tr>
                    <th class="borIz">
                        FECHA INICIO
                    </th>
                    <th class="borDer">
                        FECHA CIERRE
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in loanDate)
                {
                    <tr>
                        <td>
                            <input type="date" asp-for="@item.START_DATE" class="form-control" disabled="disabled" />
                        </td>
                        <td>
                            <input type="date" asp-for="@item.END_DATE" class="form-control"  disabled="disabled"/>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $(document).ready(function () {
        // Escuchar cambios en los campos de fecha
        $("#IdfechaInicio, #IdfechaCierre").on("change", function () {
            // Obtener los valores de los campos de fecha
            var fechaInicio = $("#IdfechaInicio").val();
            var fechaCierre = $("#IdfechaCierre").val();

            // solicitud AJAX para enviar los valores al controlador
            $.ajax({
                url: "/Loans/Edit", //URL de controlador y acción
                type: "POST",
                data: {
                    fechaInicio: fechaInicio,
                    fechaCierre: fechaCierre
                }
            });
        });
    });
</script>
<script>
    document.querySelector('.main-content').classList.remove('with-menu');
    document.querySelector('.main-content').classList.add('full-width');
</script>
