@model IEnumerable<Library.DataAccess.Domain.Catalogs>

@{
    ViewData["Title"] = "Index";
       int numPage = 1;
    int numRegistros = 0;
    int numRegistrosPorPage = 10;
    int[] tops = { 10, 20, 50, 100, 500, 1000, 10000, -1 };
    int topActual = Convert.ToInt32(ViewBag.Top);

    List<Library.DataAccess.Domain.Categories> categories = ViewBag.Categories as List<Library.DataAccess.Domain.Categories>;
    List<Library.DataAccess.Domain.Catalogs> catalogs = ViewBag.Catalogs as List<Library.DataAccess.Domain.Catalogs>;
}

<style>
    .spacer {
        margin-right: 20px; /* Ajusta el valor según tus preferencias para el espacio horizontal */
    }
</style>

<h1>CATALOGOS</h1>
<div class="d-flex justify-content-between align-items-center">
    <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>

<form asp-action="Index" class="d-flex">

<div class="spacer">
    <input type="text" placeholder="Título" class="form-control" name="TITLE" />
</div>
<div class="spacer">
    <select name="ID_CATEGORY" id="categoriaSelect" class="form-control">
        <option selected value="0">Categoría</option>
        @foreach (var item in categories)
        {
            <option value="@item.CATEGORY_ID">@item.CATEGORY_NAME</option>
        }
    </select>
</div>
<div class="spacer">
    <select name="ID_CATALOG" id="catalogoSelect" class="form-control">
        <option selected value="0">Catálogo</option>
        @foreach (var item in catalogs)
        {
            <option value="@item.CATALOG_ID">@item.CATALOG_NAME</option>
        }
    </select>
</div>
<div class="spacer" style="display: flex; align-items: center;">
    <label class="control-label" style="margin-right: 10px;">Top</label>
    <select name="top_aux" class="form-control">
        @foreach (var item in tops)
        {
            string strItem = item != -1 ? item.ToString() : "Todos";
            if (item != topActual)
            {
                <option value="@item">@strItem</option>
            }
            else
            {
                <option selected value="@item">@strItem</option>
            }
        }
    </select>
</div>
<div class="spacer">
    <button id="search-button" type="submit" class="btn btn-info">Buscar</button>
</div>
</form>
  <table id="customers" class="table"> 
    <thead>
        <tr>
            <th th class="borIz">
                @Html.DisplayNameFor(model => model.CATALOG_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CATALOG_NAME)
            </th>
            <th class="borDer">Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CATALOG_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CATALOG_NAME)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.CATALOG_ID },  new{@class="btn btn-warning"}) |
                @Html.ActionLink("Detalles", "Details", new {  id=item.CATALOG_ID  }, new{@class="btn btn-info"}) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.CATALOG_ID }, new{@class="btn btn-danger"})
            </td>
        </tr>
            numRegistros++;
            if (numRegistros == numRegistrosPorPage)
            {
                numPage++;
                numRegistros = 0;
            }
}
@{
            if (numRegistros == 0)
            {
                numPage--;
            }   
        }
    </tbody>
</table>
 @if (numPage > 1)
{
    <div class="row" style="overflow:auto">
        <div class="col-md-12">
            <ul class="pagination paginationjs" data-numpage="@numPage" data-pageactive="1">
                <li class="page-item" data-typepage="Previous"><a class="page-link" href="#">Previous</a></li>
                @for (var i = 1; i <= numPage; i++)
                {
                    <li class="page-item" data-page="@i" data-typepage="Item"><a class="page-link" href="#">@i</a></li>
                }
                <li class="page-item" data-typepage="Next"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>
}
